<!doctype html>
<html xmlns:ng="http://angularjs.org">
<head>
    <link rel="stylesheet" href="alertify.core.css" />
    <link rel="stylesheet" href="alertify.default.css" />
    <script src="alertify.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript">
        function Controller($scope, $http, $timeout) {
            $scope.isRenaming = false;

            $scope.rename = function() {
                $scope.isRenaming = true;

                $http({
                    method: "POST",
                    url: "services/rename",
                    params: {
                        directory: $scope.directory, separator: $scope.separator,
                        readingX1: $scope.readingX1, readingX2: $scope.readingX2, readingX3: $scope.readingX3,
                        readingY1: $scope.readingY1, readingY2: $scope.readingY2,
                        quizX1: $scope.quizX1, quizX2: $scope.quizX2, quizY1: $scope.quizY1, quizY2: $scope.quizY2
                    }
                }).success(function(data) {
                    $scope.isRenaming = false;

                    if (data.message) {
                        alertify.log(data.message);
                    }
                    if (data.error) {
                        alertify.error(data.error, "", 0);
                    }
                });
            };
        }
        angular.module("myApp", []);
    </script>
    <style type="text/css">
        body { color: #444; line-height: 1.82em; }
        input.monospace { font-family: monospace; border: 1px solid #aaa; color: #555; }
    </style>
</head>
<body id="ng-app" ng-app="myApp" ng-controller="Controller">
<div>
    Rename all png files starting with "Screenshot" in this directory to h??.png:<br/>
    <input type="text" ng-model="directory" size="80" style="margin-right: 1em;"/><br/>

    <pre style="font-family: monospace; line-height: 1em; display: inline-block;">
           x<sub>1</sub>: <input type="text" class="monospace" ng-model="readingX1" size="4"/>           x<sub>2</sub>: <input type="text" class="monospace" ng-model="readingX2" size="4"/>  x<sub>3</sub>: <input type="text" class="monospace" ng-model="readingX3" size="4"/>
           |                   |         |
y<sub>1</sub>: <input type="text" class="monospace" ng-model="readingY1" size="4"/> --+-------------------+---------+---
           |                   |   back  |
           |     reading       |    &amp;    |
           |                   |   prev  |
y<sub>2</sub>: <input type="text" class="monospace" ng-model="readingY2" size="4"/> --+-------------------+---------+---
           |                   |         |
    </pre>
    <pre style="font-family: monospace; line-height: 1em; display: inline-block; margin-left: 3em;">
           x<sub>1</sub>: <input type="text" class="monospace" ng-model="quizX1" size="4"/>           x<sub>2</sub>: <input type="text" class="monospace" ng-model="quizX2" size="4"/>
           |                   |
y<sub>1</sub>: <input type="text" class="monospace" ng-model="quizY1" size="4"/> --+-------------------+---
           |                   |
           |      quiz         |
           |                   |
y<sub>2</sub>: <input type="text" class="monospace" ng-model="quizY2" size="4"/> --+-------------------+---
           |                   |
    </pre><br/>
    The filename separating the reading and the quiz:<br/>
    <input type="text" ng-model="separator" size="40" style="margin-right: 1em;"/><br/>
    <input type="button" value="Do it!" ng-click="rename()"/>
    <img src="loading.png" ng-show="isRenaming"/>
</div>
</body>
</html>